language: go
go:
  - tip

branches:
  except:
    - dev
    - /^feature/TZONE-\d+$/
  only:
    - master

before_install:
  - go get github.com/mattn/goveralls

script:
  - $GOPATH/bin/goveralls -service=travis-ci